body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 700px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

.add-student {
    margin: 25px 0;
}

input {
    padding: 10px;
    width: 60%;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

#studentList {
    margin-top: 20px;
}